<a href="https://colab.research.google.com/github/njocimar28/nba/blob/main/Extra%C3%A7%C3%A3o_do_dados_jogadores_NBA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import requests

In [2]:
pip install numpy==1.24.2

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: numpy==1.24.2 in /usr/local/lib/python3.10/dist-packages (1.24.2)

In [3]:
pip install nba_api

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: nba_api in /usr/local/lib/python3.10/dist-packages (1.2)
Requirement already satisfied: numpy<2.0.0,>=1.22.2 in /usr/local/lib/python3.10/dist-packages (from nba_api) (1.24.2)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from nba_api) (2.27.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests->nba_api) (1.26.15)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests->nba_api) (2022.12.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.10/dist-packages (from requests->nba_api) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->nba_api) (3.4)

In [4]:
from nba_api.stats.endpoints import playercareerstats, teamvsplayer
from nba_api.stats.static import players, teams

In [5]:
nba_players = players.get_players()

In [6]:
jogadores = pd.DataFrame(nba_players)
jogadores.head()

      id            full_name first_name     last_name  is_active
0  76001       Alaa Abdelnaby       Alaa     Abdelnaby      False
1  76002      Zaid Abdul-Aziz       Zaid    Abdul-Aziz      False
2  76003  Kareem Abdul-Jabbar     Kareem  Abdul-Jabbar      False
3     51   Mahmoud Abdul-Rauf    Mahmoud    Abdul-Rauf      False
4   1505    Tariq Abdul-Wahad      Tariq   Abdul-Wahad      False

In [8]:
lista_ids = jogadores_is_active['id'].apply(lambda x: int(''.join(filter(str.isdigit, str(x))))).tolist()
len(lista_ids)

535

In [9]:
def get_player_data(player_id):
    try:
        players = playercareerstats.PlayerCareerStats(player_id=player_id)
        players = players.get_data_frames()[0]
        player_data = pd.DataFrame(players)
        return player_data
    except:
        return None

def collect_player_stats(player_ids, max_players=600):
    player_data = pd.DataFrame()
    for i, player_id in enumerate(player_ids):
        if i >= max_players:
            break
        player_stats = get_player_data(player_id)
        if player_stats is not None:
            player_data = pd.concat([player_data, player_stats])
    return player_data

In [10]:
jogadores_not_active = jogadores.query('is_active==False')

In [11]:
lista_ids2 = jogadores_not_active['id'].apply(lambda x: int(''.join(filter(str.isdigit, str(x))))).tolist()
len(lista_ids2)

4280

In [12]:
jogadores_aposentados = collect_player_stats(lista_ids2, max_players=600)

In [13]:
dict_jogadores = jogadores_not_active.set_index('id')['full_name'].to_dict()

In [14]:
jogadores_aposentados['JOGADOR'] = jogadores_aposentados['PLAYER_ID'].map(dict_jogadores)

In [15]:
jogadores_aposentados.head()

,PLAYER_ID,SEASON_ID,LEAGUE_ID,TEAM_ID,TEAM_ABBREVIATION,PLAYER_AGE,GP,GS,MIN,FGM,...,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS,JOGADOR
0,51,1990-91,00,1610612743,DEN,22.0,67,19,1505.0,417,...,34,87,121.0,206,55,4,110.0,149,942,Mahmoud Abdul-Rauf
1,51,1991-92,00,1610612743,DEN,23.0,81,11,1538.0,356,...,22,92,114.0,192,44,4,117.0,130,837,Mahmoud Abdul-Rauf
2,51,1992-93,00,1610612743,DEN,24.0,81,81,2710.0,633,...,51,174,225.0,344,84,8,187.0,179,1553,Mahmoud Abdul-Rauf
3,51,1993-94,00,1610612743,DEN,25.0,80,78,2617.0,588,...,27,141,168.0,362,82,10,151.0,150,1437,Mahmoud Abdul-Rauf
4,51,1994-95,00,1610612743,DEN,26.0,73,43,2082.0,472,...,32,105,137.0,263,77,9,119.0,126,1165,Mahmoud Abdul-Rauf

In [16]:
jogadores_aposentados.to_csv('jogadores_aposentados_nba', sep = ',', index = False)

In [7]:
jogadores_is_active = jogadores.query('is_active==True')

In [17]:
jogadores_em_atividade = collect_player_stats(lista_ids, max_players=600)

In [18]:
dict_jogadores_em_atividade = jogadores_is_active.set_index('id')['full_name'].to_dict()

In [19]:
jogadores_em_atividade['JOGADOR'] = jogadores_em_atividade['PLAYER_ID'].map(dict_jogadores)

In [20]:
jogadores_em_atividade.head()

,PLAYER_ID,SEASON_ID,LEAGUE_ID,TEAM_ID,TEAM_ABBREVIATION,PLAYER_AGE,GP,GS,MIN,FGM,...,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS,JOGADOR
0,1630173,2020-21,00,1610612748,MIA,21.0,61,4,737.0,124,...,73,135,208,29,20,28,43,91,304,Precious Achiuwa
1,1630173,2021-22,00,1610612761,TOR,22.0,73,28,1725.0,265,...,146,327,473,82,37,41,84,151,664,Precious Achiuwa
2,1630173,2022-23,00,1610612761,TOR,23.0,55,12,1141.0,196,...,100,228,328,50,31,30,59,102,508,Precious Achiuwa
0,203500,2013-14,00,1610612760,OKC,20.0,81,20,1197.0,93,...,142,190,332,43,40,57,71,203,265,Steven Adams
1,203500,2014-15,00,1610612760,OKC,21.0,70,67,1771.0,217,...,199,324,523,66,38,86,99,222,537,Steven Adams

In [21]:
jogadores_em_atividade.to_csv('jogadores_em_atividade_nba', sep = ',', index = False)